@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond&family=Lato&family=Montserrat&family=Roboto&family=Teko&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    color: #fefefe;
    padding: 20px 15px;
    text-align: center;
    background-image: linear-gradient(to right, #e74c3c, #ff4745);
}

.header h1 {
    margin: 0 0 15px;
}

.header textarea {
    width: 500px;
    max-width: 100%;
    min-height: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    font-family: inherit;
    border: 1px solid #e0e0e0;
}

.count-container {
    display: block;
    margin-bottom: 20px;
}

.container {
    width: 700px;
    max-width: 100%;
    margin: 20px 10px;
}

.suggestion {
    display: flex;
    padding: 10px;
    background-color: #fefefe;
}

.suggestion:not(:last-of-type) {
    border-bottom: 1px solid #e0e0e0;
}

.suggestion .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 65px;
}

.suggestion .left p {
    margin: 10px 0 0;
}

.suggestion .left .votes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.vote-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    border-radius: 50%;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 16px;
}

.vote-btn.voted {
    color: #515253;
    background-color: #515253;
}

.vote-btn:active {
    transform: scale(.98);
}

.vote-btn:focus {
    outline: 0;
}

.suggestion .right {
    margin-left: 20px;
}

.suggestion .right strong {
    color: #121;
    font-size: 18px;
}