@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
}

h2 {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fefefe;
    margin: 0;
}