* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

.square {
    width: 16px;
    height: 16px;
    margin: 2px;
    transition: 2s ease;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #121212;
}

.square:hover {
    transition-duration: 0s;
}